.certificates{

padding:120px 8%;

}

.certificate-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:30px;

margin-top:60px;

}

.certificate-card{

padding:35px;

background:rgba(255,255,255,.05);

border-radius:22px;

text-align:center;

font-size:1.2rem;

transition:.35s;

}

.certificate-card:hover{

transform:translateY(-10px);

background:linear-gradient(135deg,#ff4ecd,#6c2bd9);

}