.navbar{

position:fixed;

top:20px;

left:50%;

transform:translateX(-50%);

width:92%;

max-width:1450px;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 35px;

background:rgba(255,255,255,.06);

backdrop-filter:blur(25px);

border:1px solid rgba(255,255,255,.08);

border-radius:22px;

z-index:1000;

box-shadow:0 10px 40px rgba(0,0,0,.25);

}

.logo{

font-size:1.7rem;

font-weight:700;

letter-spacing:2px;

color:white;

}

.logo span{

color:var(--accent);

}

.nav-links{

display:flex;

list-style:none;

gap:38px;

}

.nav-links a{

position:relative;

font-size:1rem;

font-weight:500;

transition:.35s;

}

.nav-links a:hover{

color:var(--accent);

}

.nav-links a::after{

content:"";

position:absolute;

left:0;

bottom:-6px;

width:0;

height:2px;

background:var(--accent);

transition:.35s;

}

.nav-links a:hover::after{

width:100%;

}

.nav-right{

display:flex;

align-items:center;

gap:20px;

}

.nav-right a{

font-size:1.35rem;

transition:.35s;

}

.nav-right a:hover{

transform:translateY(-4px);

color:var(--accent);

}

.resume-btn{

padding:12px 24px;

border:none;

border-radius:14px;

background:linear-gradient(
135deg,
var(--primary),
var(--accent)
);

color:white;

font-weight:600;

cursor:pointer;

transition:.35s;

}

.resume-btn:hover{

transform:translateY(-4px);

box-shadow:var(--glow);

}

@media(max-width:1050px){

.nav-links{

display:none;

}

}