.section-tag{
text-align:center;
letter-spacing:6px;
color:#ff5ad7;
font-weight:600;
margin-bottom:15px;
}

.stats h2{
text-align:center;
font-size:3rem;
margin-bottom:60px;
}



.stats{

padding:120px 8%;

}

.stats-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:30px;

}

.stat-card{

background:rgba(255,255,255,.05);

padding:40px;

border-radius:25px;

text-align:center;

transition:.35s;

}

.stat-card:hover{

transform:translateY(-10px);

}

.stat-card h2{

font-size:3rem;

color:#ff5ad7;

margin-bottom:15px;

}

.stat-card p{

font-size:1.1rem;

}